*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
a, a:hover{
    text-decoration: none;
}
.header{
    width: 100%;
   float: left;
   
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.box1{
    width: 40%;
    float: left;
}
.box2{
    width: 60%;
    float: left;
}


.navbar {
    width: 100%;
    float: left;
}
.navbar li{
    list-style: none;
    display: inline-block;
    text-align: right;
}
.navbar li a{
    font-size: 16px;
line-height: 26px;
font-weight: 600;
margin: 0px 20px;
color: #000;
text-transform: uppercase;
}
.navbar li a:hover{
    color: #08c;
}


.banner{
    width: 100%;
    float: left;
    height: 400px;
    background-color:#ffff;
}
.banner .box1{
    width: 50%;
    float: left;
}
.banner .box1 h2{
    font-size: 45px;
    color: #1e266d;
    line-height: 50px;
    font-weight: 700;
    margin: 70px 0px;
}
.banner .box1 p{
    margin-bottom: 20px;
margin-top: 20px;
font-size: 22px;
color: #1e266d;
line-height: 28px;
font-weight: 300;
}
.img-fluid{
    width: 100%;
    height: 100%;
}
.banner .box2{
    width: 50%;
    float: left;
   
  
}
.service{
width: 100%;
height: 600px;
float: left;
background: #555;
}
.service box3{
    width: 33.33%;
    height: 600px;
    background-color: #14A800;
    float: left;

}
.service box4{
    width: 33.33%;
    height: 600px;
    background-color: #14A800;
    float: left;

}

.service box5{
    width: 33.33%;
    height: 600px;
    background-color: #14A800;
    float: left;

}


.footer{
    width: 100%;
    height: 150px;
    background-color: black;
    float: left;
}


